############ TIDAK PERLU DIUBAH ############
GOOSE_DRIVER="postgres"
GOOSE_MIGRATION_DIR="./migrations"
############################################


######### isi URL koneksi postgres #########
# Nilai default:
# GOOSE_DBSTRING="postgresql://wave:123123@path-db-1:5432/path?sslmode=disable"
GOOSE_DBSTRING=
############################################


#### SECRET untuk kunci enkripsi token. ####
# Isi bebas
SECRET=
############################################
