# ---- DATABASE ----
POSTGRES_USER=foo
POSTGRES_PASSWORD=bar123
POSTGRES_DB=baz

# ---- MIGRATIONS ----
# tidak perlu diubah.
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations

# ---- API ----
# isi URL koneksi postgres. Sesuaikan dengan value POSTGRES di bawah
GOOSE_DBSTRING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@path-db-1:5432/${POSTGRES_DB}?sslmode=disable

# untuk kunci token. Isi bebas
SECRET=
